*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: #eee;
  /* display: flex; */
  font-family: sans-serif;
}
.login{
  margin: auto;
  width: 40%;
  max-width: 90%;
  display: flex;
}
.login form{
  width: 300%;
  height: 50%;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgb(0,0,0,.3);
  margin-top: 10px;
  margin-bottom: 44x;
}
.login form h1{
  text-align: center;
  margin-bottom: 24px;
  color: #222;
}

.login form button{
  margin-left: 50%;
  transform: translate(-50%);
  width: 150px;
  height: 35px;
  border: none;
  outline: none;
  background: #27a327;
  cursor: pointer;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  transition: .3s;
}
.login form button:hover{
  opacity: .7;
}
h2{
  color: rgb(241, 25, 25);
  /* margin-top: 140%; */
  /* margin-left: 20%; */
  /* margin-right: 50%; */
}
input[type=text] {
  padding: 7px;
  margin:7px 0;
  border:0 2px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  width: 100%;
  background:#eee;

}
select {
  width: 100%;
  margin:7px 0;
  padding:7px;
  border-radius:10px;
  background:#eee;

}


